/* 
  ---- Imports
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
.font-regular { font-weight: 400; }
.font-medium { font-weight: 700; }
.font-bold { font-weight: 900 }

/* 
  ---- Global
*/
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --green: #47CF73;
  --green-light: #75DE97;

  --red: #FF3C41;
  --red-light: #F87376;

  --purple: #AE63E4;
  --purple-light: #CC98F2;

  --blue: #0EBEFF;
  --blue-light: #76DAFF;

  --yellow: #FCD000;
  --yellow-light: #FFE467;

  --black: rgba( 75, 75, 75, 1 );
  --dark: #707070;
  --light: #F2F2F2;

}

* {
  box-sizing: border-box !important;
}

body {
  background-color: var( --light ) !important;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

button {
  padding: 10px 50px !important;
  border-radius: 3px !important;
  transition: 0.3s;
  outline: none !important;
}

button:hover {
  transform: scale( 1.05 );
}

/*
  ---- Utilities
*/
.bg-green-gradient {
  background: linear-gradient(to right, var( --green-light ) 0%, var( --green ) 100%);
}

.bg-red-gradient {
  background: linear-gradient(to right, var( --red-light ) 0%, var( --red ) 100%);
}

.bg-purple-gradient {
  background: linear-gradient(to right, var( --purple-light ) 0%, var( --purple ) 100%);
}

.text-shadow {
  text-shadow: 0px 2px 3px rgba( 112, 112, 112, 0.5 );
}

.text-black { color: var( --black ); }
.text-dark { color: var( --dark ) !important; }
.text-green { color: var( --green ); }
.text-red { color: var( --red ); }




/* 
  ---- Layout
*/
#LeftPanel {
  min-height: 100vh !important;
  max-height: 100vh !important;
  width: calc( 100% - 500px);
  max-width: 100%;
  min-width: calc( 100% - 500px )
}

#RightPanel {
  background-color: #FFF;
  min-height: 100vh !important;
  max-height: 100vh !important;
  width: 500px;
  max-width: 100%;
  min-width: 500px;
}


/* 
  ---- Header 
*/

/*
#AddIncomeButton {}
#AddExpenseButton {}
#BalanceSheet {}
*/

#BalanceSheet tr { 
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#BalanceSheet tr td { text-align: right; }



/*
  ---- TransactionList
*/

.transaction { border-radius: 10px !important; }

.transaction__icon {
  height: 125px !important;
  width: 125px !important;
  border-radius: 10px 0px 0px 10px !important;
}

.transaction__icon svg {
  height: auto;
  width: 50px;
}

.transaction__icon-income { background-color: var( --green-light ); }
.transaction__icon-expense { background-color: var( --red-light ); }


.transaction__details {
  width: calc( 100% - 125px );
  max-width: calc( 100% - 125px );
  min-width: calc( 100% - 125px );
}

.transaction__details--date {
  color: var( --dark );
  opacity: 0.8;
}

.transaction__details--label {
  color: var( --dark );
}

/*
.transaction__amount {} 
*/

.transaction__amount-income { color: var( --green ); }
.transaction__amount-expense { color: var( --red ); }

.transaction__delete-button {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background-color: var( --light );
  opacity: 0.5;
}

.transaction__delete-button:hover { opacity: 1; }

.transaction__delete-button svg {
  width: 10px;
  height: 10px;
}


/*
  ---- Transaction Charts
*/


.nav-link { color: var( --dark ) !important; }

.nav-link.active {
  background-color: #FFF !important;
  color: var( --dark ) !important;
  box-shadow: 0px 2px 3px rgba( 112, 112, 112, 0.25 );
}



/* 
  ---- Old
*/

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}